/* 
	CSS CUSTOMIZATIONS
*/

@import "partials/_fonts.scss";
@import "partials/_syntax.scss";

/* Custom Colors */
$blue: #4bb3d6;
$blue-darker: #2b7d99;
$blue-darkest: #6b7978;
$blue-lighter: #9fd9f2;
$coral: #de5e5c;
$orange: #d4574e;
$accent-dark: #616060;
$accent-medium: #be9963;
$accent-light: #818e89;
$accent-lightest: #ABABAB;
$accent-hover: #cdb072;

$navcolor: #069db8;
$navcolor-hover: #146b7a;
$titlecolor: #f35d65;
$titlecolor-hover: #d95960;
$headcolor: #7d756d;
$tagcolor: #8d8d8d;
$tagcolor-hover: #3a373c;
$sidecolor: $tagcolor;
$sidecolor-hover: $tagcolor-hover;
$descripcolor: $tagcolor;
$headcolor-hover: $tagcolor-hover;
$altlink-color: $headcolor;
$altlink-color-hover: $headcolor-hover;

/* Custom Fonts */
$serif: "Noto Serif","Segoe UI","Helvetica Neue",Helvetica,Roboto,FreeSans,serif;
$sans-serif: "Noto Sans","Segoe UI","Helvetica Neue",Helvetica,Roboto,FreeSans,sans-serif;

$code: "PT Mono",Monaco,"Courier New",monospace;
$fancy-headings: "KoHo";


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fancy-headings;
	color: $headcolor; 
}

h2 {
	a {
		color: $headcolor;
	}
	a:visited {
		color: $headcolor;
	}
	a:hover {
		color: $headcolor-hover;
		text-decoration: none;
	}	
}

/* Title */
.site-title {
	a {
		font-family: $fancy-headings;
		font-size: 28px;
		color: $titlecolor;
	}
	a:hover {
		color: $titlecolor-hover;
	}
}

.description {
	color: $descripcolor;
}


/* Navigation */
.color-link {
    color: $navcolor;
    font-family: $fancy-headings;
	font-size: 18px;
}

.color-link:visited {
    color: $navcolor;
}

.color-link:hover {
    color: $navcolor-hover;
}

.paginator {
    a {
        color: $navcolor;
    }
}


/* Post List */
time {
	color: $descripcolor;
}

.tag {
    color: $tagcolor;
}

.tag:visited {
    color: $tagcolor;
}

.tag:hover {
    color: $tagcolor-hover;
}

/* Sidebar */
footer {
    .social-icon>svg:hover {
        fill: $sidecolor-hover;
    }
	.social-icon>svg:visited {
		color: $sidecolor;
	}

    a {
        color: $sidecolor;
    }

    a:visited {
        color: $sidecolor;
    }

    a:hover {
        color: $sidecolor-hover;
    }
}

.tag-cloud {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  line-height: 1em;
}

.tag-cloud-title {
  font-size: 14px;
}

.tag-cloud-item {
	margin: 0;
	padding: 0;
}
.tag-cloud-item li {
	display: inline-block;
	list-style: none;
	padding: 0 5px 5px 0;
}

.tag-cloud-item a {
  text-decoration: none;
  transition: color 250ms;
}

.copy {
	font-size: 14px;
	font-style: italic;
	font-family: $sans-serif;
	color: $sidecolor;
	margin-top: 5em;
	text-align: center;
	vertical-align: text-bottom;
}

.sidebar-copy {
	font-size: 14px;
	font-style: italic;
	font-family: "Segoe UI";
	color: $sidecolor;
	margin-top: 5em;
	text-align: center;
	align-items: bottom;
}

.resume {
	font-family: "Segoe UI";
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

.qrcode {
	height: 50%;
	width: 50%;
}


figcaption {
	margin-top: 0px;
}

.resume a {
    color: $altlink-color;
    font-family: $fancy-headings;
	font-size: 14px;
}
.resume a:visited {
    color: $altlink-color;

}
.resume a:hover {
    color: $altlink-color-hover;

}
.resume p {
	margin-bottom: 1px;
}

