# /etc/systemd/system/nicksblog.service

[Unit]
Description=Hugo server for Nick's blog

[Service]
User=root
Environment="HUGO_SITE_DIR=/var/local/nicksblog/site"
Environment="HUGO_PORT=1313"
Environment="HUGO_BASE_URL=https://nickferguson.dev"
Environment="HUGO_BIND_ADDR=0.0.0.0"
ExecStart=/usr/local/bin/start-hugo-server
Restart=always

[Install]
WantedBy=multi-user.target
